
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "encode-sans";serif;
    padding: 0px 140px 0px 195px;

}
 header{
    height:125px;
    width:100%
}
header figure{
    text-aling: center;
    height:80px;
    width:100%;

}
header figure img{
    width:171px
    heigth: 36px;
    margin: 22px 0px;
}
li a {
    text-align:center
    font-size:19px;
    font style:normal
    font-wight: 700;
    line-heigth:normal;
    text-decoration:nome;
}
ul{
    list-style-type:nome;
}